{{#if resume.basics.skillsList.length}}
<section id="basics_skillsList">
	<h2>Professional Summary</h2>
    <hr>
    <ul class="highlights">
        {{#each resume.basics.skillsList}}
        <li>{{.}}</li>
        {{/each}}
    </ul>
</section>
{{/if}}