{#if resume.basics.footer}}
    <footer id="footer">
        Powered by <a href="https://jsonresume.org" target="_blank">Json resume</a> 
        {{#if resume.basics.cloudflare_workers }}
            | Hosted on <a href="https://workers.dev" target="_blank">Cloudflare Workers</a>
        {{/if}}
    </footer>
{{/if}}