:root {
	--primary-color: #008ba3;
	--primary-color-dark: #005d74;
	--primary-color-light: #005d74;
	--primary-color-darker: #00838f;
	
	--text-primary-color: #333;
}

body {
	background: #fff;
	font: 15px Arial, Helvetica, sans-serif;
	line-height: 1.4;
	margin: 50px 0;
	margin-bottom: 100px;
	color: var(--text-primary-color);
	text-align: justify;
	padding: 10px 50px;
}

a {
	color: var(--primary-color);
}

a:hover {
	color: var(--primary-color-dark);
}

em {
	color: #999;
}

hr {
	border: 1px solid var(--primary-color)
}

h1 {
	color: var(--primary-color);
	margin: 0;
	margin-left: 8px;
}

h2 {
	color: var(--primary-color-dark);
	margin-left: 8px;
}

h3 {
	color: var(--primary-color-darker);
}

p {
	line-height: 1.4;
	margin-left: 8px;
}

ul {
	margin-bottom: 0;
}

header {
	color: var(--primary-color);
	padding-left: 8px;
}

/* header h2 {
	margin-top: 4px;
    margin-left: 8px;
} */

section {
	margin-bottom: 2em;
}

section.item {
	padding-left: 0 8px;
}

blockquote {
	color: var(--primary-color);
	margin: 8px;
	padding: 8px;
	font-size: 14px;
	border-left: 2px solid var(--primary-color);
}

.item {
	margin-bottom: 1em;
	margin-left: 8px;
}

.summary {
	color: var(--text-primary-color);
	float: left;
}

.date {
	float: right;
}

.col-50 {
	width: 50%;
	float: left;
	position: relative;
}

#resume {
	margin: 0 auto;
	max-width: 960px;
	padding: 0 20px;
}

#basics {
	
}

#basics .contact {
	margin-left: 8px;
}

#basics_skills {
	clear: left;
}

#basics_skills p {
	margin: 2px 0;
	padding-left: 8px;
}

#basics_skillsList {
	color: var(--text-primary-color);
}

#work {
	color: var(--text-primary-color);
}

#volunteer {
	color: var(--text-primary-color);
}

#education {
	color: var(--text-primary-color);
}

#certificates {
	color: var(--text-primary-color);
}

#awards {
	color: var(--text-primary-color);
}

#publications {
	color: var(--text-primary-color);
}

#skills {
	color: var(--text-primary-color);
}

#languages {
	color: var(--text-primary-color);
}

#interests {
	color: var(--text-primary-color);
}

#footer {
	color: var(--text-text-primary-color);
	font-size: 0.9em;
}

@media print {
	body {
		margin: 0;
	}

	@page{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	header h2 {
		font-size: 1em;
	}
}